<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body bgcolor="lightgreen">
    
    <fieldset>
    <h1>Categories</h1>
    <h2>Topwear</h2>
    <img src="Shirt.jpg" alt="Pictures are" title="Shirt" width="200" height="400">

    <p> <label>Search: <input type="text" id="Search" name="Search" maxlength="10" placeholder="Topwear">
        <p>Models:
            <select name="Type">
              <option value="c1">Partywear</option>
              <option value="c2">formals</option>
              <option value="c3">casuals</option>
            </select><p>

</fieldset>
<fieldset>
    <h2>Bottomwear</h2>
    <p><img src="Shirt.jpg" alt="Pictures are" title="Shirt"></p>
    <label>Search: <input type="text" id="Search" name="Search" maxlength="10" placeholder="Bottomwear">
        <p>Models:
        <select name="Type">
          <option value="c1">formals</option>
          <option value="c2">casuals</option>
        </select></p>
</fieldset>

<fieldset>
    <h2>Footwear</h2>
    <p><img src="Shirt.jpg" alt="Pictures are" title="Shirt"></p>
    <label>Search: <input type="text" id="Search" name="Search" maxlength="10" placeholder="Footwear">
        <p>Models:
        <select name="Type">
          <option value="c1">formals</option>
          <option value="c2">casuals</option>
        </select></p>
</fieldset>


    
</body>
</html>