<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body bgcolor="beige">
    <fieldset>
    <h1>Contacts</h1>
    <form method="POST" action="form.aspx">
        <h2>Email</h2>
<p><label><span>Email Input: </span><input type=email name=emailInput required></label></p>

<h2>Telephone</h2>
<p><label><span>Telephone Input: </span><input type=tel name=telInput required></label></p>

    </form>
</fieldset>

<fieldset>
    <h1>Description</h1>
    <form method="POST" action="form.aspx">
        <p><label><span>Fill this: </span><input type=description name=description height="3000" width="150" placeholder="Please fill this"></label></p>

    </form>

</fieldset>
</body>
</html>